.beer_items_swiper_wrapper {
  max-width: 1200px;
  margin: 50px auto 85px;
  position: relative;
}

.beer_items_swiper_wrapper .swiper {
  width: 91%;
}



.beer_items_swiper_wrapper .swiper-slide {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  max-width: 190px;
  height: 320px;
  margin: 0 12px;
  background: rgb(230, 230, 231);
  border: 1px solid #cab02d;
  border-radius: 10px;
}

.beer_items_swiper_wrapper .swiper-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.beer_items_swiper_wrapper .slide_link {
  height: 66%;
  margin-bottom: 10px;

}

.beer_items_swiper_wrapper .slide_item_wrapper {
  padding: 15px 20px 0;
  height: 100%;
  position: relative;

}



.beer_items_swiper_wrapper .slide_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;



}


.beer_items_swiper_wrapper .slide_flip_card {
  text-decoration: none;

}

.beer_items_swiper_wrapper .slide_flip_card_front {
  max-width: 80px;
  margin: 0 auto;

}

.beer_items_swiper_wrapper .slide_item img {
  max-width: 80px;
  height: 190px;
}

.slide_flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 30px 0;
}

.slide_item:hover .slide_flip_card_inner {
  transform: rotateY(180deg);
}

.slide_flip_card_front,
.slide_flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.slide_flip_card_front {
  background-color: #bbb;
  color: black;
}


.slide_flip_card_back {
  padding: 10px;
  background-color: #eef0f1;
  color: #8b8b89;
  font-family: "BebasKai";
  transform: rotateY(180deg);
  height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  border-radius: 10%;
  left: 0;
}

.beer_items_swiper_wrapper .slide_item_title {
  display: inline-block;
  margin: 12px auto;
  font-family: "BebasKai";
  color: #cab02d;
}


.beer_items_swiper_wrapper .swiper-button-prev,
.beer_items_swiper_wrapper .swiper-button-next {
  top: 50%;
  color: #cab02d;
  height: 32px;
  right: 0%;
}

.beer_items_swiper_wrapper .swiper-button-next {
  right: 0%;
}

.beer_items_swiper_wrapper .swiper-button-prev {

  left: 0%;
}



@media screen and (max-width: 1200px) {

  .beer_items_swiper_wrapper {
    max-width: 90%;

  }

  .beer_items_swiper_wrapper .swiper-slide {
    margin: 0 9px;
    max-width: 100px;
    height: 280px;
  }

  .beer_items_swiper_wrapper .slide_link {
    height: 50%;
  }

  .beer_items_swiper_wrapper .slide_item_title {
    margin: 8px auto 8px;
    font-size: 14px;
  }

  .beer_items_swiper_wrapper .slide_item img {
    max-width: 65px;
    height: 127px;
  }

  .slide_flip_card_inner {

    padding: 0;
  }

  .beer_items_swiper_wrapper .slide_item_wrapper {
    padding: 0px 20px;

  }

  .slide_item:hover .slide_flip_card_inner {
    transform: none;
  }
}

@media screen and (max-width: 650px) {

  .beer_items_swiper_wrapper .swiper-slide {
    margin: 0 5px;
    max-width: 90px;
    height: 280px;
  }

}

@media screen and (max-width: 530px) {
  .beer_items_swiper_wrapper {
    max-width: 99%;
  }

  .beer_items_swiper_wrapper .swiper-slide {
    margin: 0 3px;
    max-width: 80px;
    height: 240px;
  }

  .beer_items_swiper_wrapper .slide_item_title {
    margin: 5px auto 8px;
    font-size: 12px;
  }

  .beer_items_swiper_wrapper .slide_item img {
    max-width: 45px;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .beer_items_swiper_wrapper .swiper-slide {
    margin: 0 1px;
    max-width: 70px;
    height: 200px;
  }

  .beer_items_swiper_wrapper .slide_item_title {
    margin: 5px auto 8px;
    font-size: 12px;
  }

  .beer_items_swiper_wrapper .slide_item img {
    max-width: 45px;
    height: 100px;
  }

  .favourite_button {
    max-height: 23px;
  }
}