h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}


.button_default_gray {
  height: 42px;
  min-width: 100px;
  font-family: "BebasKai";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: #eeeeee;
  color:  #cab02d;
  border-radius: 10%;
  transition: .2s ease-in;
  border: 2px solid #cab02d;
}

.button_default_gray:hover {
  cursor: pointer;
  background-color:#979696;
  color: #d1d0c7;
}
